<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="coincorner_bitcoincheckout" xsi:type="const">CoinCorner\BitcoinCheckout\Model\BitcoinCheckout::CODE</item>
            </argument>
        </arguments>
    </type>
</config>